{% extends 'TestBundle::html.html.twig' %}

{% set head_title = 'Token Endpoint | AuthBucket\\Bundle\\OAuth2Bundle' %}

{% block page %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">Token Endpoint <small>(grant_type = client_credentials)</small></h1>
                <blockquote>
                    <p>The client makes a request to the token endpoint by adding the following parameters using the "application/x-www-form-urlencoded" format per Appendix B with a character encoding of UTF-8 in the HTTP request entity-body:</p>
                    <footer><a href="http://tools.ietf.org/html/rfc6749#section-4.4.2">4.4.2. Access Token Request</a></footer>
                </blockquote>
                <p><a class="btn btn-primary" role="button" href="{{ model_path }}">Debug with Local Resource</a></p>
                <p><a class="btn btn-primary" role="button" href="{{ debug_path }}">Debug with Remote Resource</a></p>
                <p><a class="btn btn-primary" role="button" href="{{ refresh_path }}">Refreshing an Access Token</a></p>
                <p><a class="btn btn-primary" role="button" href="{{ path('demo') }}">Return</a></p>
                <p><a class="btn btn-primary" role="button" href="{{ path('demo_authorize_logout') }}">Logout</a></p>

                <h2 class="page-header">Access Token Response:</h2>
                {{ dump(access_token_response) }}

                <h2 class="page-header">Access Token Request:</h2>
                {{ dump(access_token_request) }}
            </div>
        </div>
    </div>
{% endblock %}
