{% extends 'TestBundle::html.html.twig' %}

{% set head_title = 'Authorization Endpoint | AuthBucket\\Bundle\\OAuth2Bundle' %}

{% block page %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">Authorization Endpoint</h1>
                <blockquote>
                    <p>To request an access token, the client obtains authorization from the resource owner.</p>
                    <footer><a href="http://tools.ietf.org/html/rfc6749#section-4">4. Obtaining Authorization</a></footer>
                </blockquote>

                <h2 class="page-header">Authorize Application</h2>
                <p>{{ username }}, {{ client_id }} would like permission to access your account:</p>
                <ul>
                    {% for scope in scopes %}
                        <li>{{ scope }}</li>
                    {% endfor %}
                </ul>
                <form action="#" method="post">
                    {{ form_widget(form) }}
                    <div class="form-group">
                        <button class="btn btn-success" type="submit" name="submit" />Authorize Application</button>
                    </div>
                </form>
                <p><a class="btn btn-primary" role="button" href="{{ path('demo') }}">Return</a></p>
                <p><a class="btn btn-primary" role="button" href="{{ path('demo_authorize_logout') }}">Logout</a></p>

                <h2 class="page-header">Authorization request</h2>
                {{ dump(authorization_request) }}
            </div>
        </div>
    </div>
{% endblock %}
