{% extends 'TestBundle::html.html.twig' %}

{% set head_title = 'Form-based Authentication | AuthBucket\\Bundle\\OAuth2Bundle' %}

{% block page %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">Form-based Authentication</h1>
                <blockquote>
                    <p>The authorization server MUST first verify the identity of the resource owner.</p>
                    <footer><a href="http://tools.ietf.org/html/rfc6749#section-3.1">3.1. Authorization Endpoint</a></footer>
                </blockquote>

                <h2 class="page-header">Login Form</h2>
                <form action="{{ path('demo_authorize_login_check') }}" method="post" role="form">
                    {% if error is not empty %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
                            {{ error }}
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <label>Username</label>
                        <input class="form-control" type="text" name="_username" value="{{ _username }}" />
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input class="form-control" type="password" name="_password" value="{{ _password }}" />
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="_remember_me" /> Remember me
                        </label>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" type="submit" name="submit">Login</button>
                    </div>
                </form>
                <p><a class="btn btn-primary" role="button" href="{{ path('demo') }}">Return</a></p>
            </div>
        </div>
    </div>
{% endblock %}
