{% extends 'TestBundle::html.html.twig' %}

{% set head_title = 'Authorization Endpoint | AuthBucket\\Bundle\\OAuth2Bundle' %}

{% block page %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">Authorization Endpoint <small>(response_type = token)</small></h1>
                <blockquote>
                    <p>The client directs the resource owner to the constructed URI using an HTTP redirection response, or by other means available to it via the user-agent.</p>
                    <footer><a href="http://tools.ietf.org/html/rfc6749#section-4.2.1">4.2.1. Authorization Request</a></footer>
                </blockquote>
                <p><a class="btn btn-primary" role="button" href="{{ model_path }}">Debug with Local Resource</a></p>
                <p><a class="btn btn-primary" role="button" href="{{ debug_path }}">Debug with Remote Resource</a></p>
                <p><a class="btn btn-primary" role="button" href="{{ path('demo') }}">Return</a></p>
                <p><a class="btn btn-primary" role="button" href="{{ path('demo_authorize_logout') }}">Logout</a></p>

                <h2 class="page-header">Access Token Response</h2>
                {{ dump(access_token_response) }}
            </div>
        </div>
    </div>
{% endblock %}
